<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">
 
    <select id="selectOrganLogin" parameterType="string" resultType="hashMap">
        select LoginDate as LoginDate,
        	   count(distinct userID) as loginCnt,
        	   HR_ORGAN as HR_ORGAN
        from (
        select substr(createDate, 1, 4) as LoginDate,
        	   userID as userID,
        	   requestCode as requestCode,
        	   HR_ORGAN as HR_ORGAN
        from (select sr.createDate, sr.userID, sr.requestCode, su.HR_ORGAN
              from statistc.requestInfo as sr inner join statistc.user as su
              on sr.userID = su.userID where requestCode = 'L') as organLogin) as organ
              where HR_ORGAN = #{organ} and LoginDate = #{date}
        group by HR_ORGAN;
    </select>
    
</mapper>
